#at-wt-calculator-form-left-side-wrapper,
#at-wt-calculator-form-right-side-wrapper {
  width: 49%;
}

/* Left side */

#at-wt-calculator-form-left-side-wrapper label {
  color: #555;
}

#at-wt-calculator-form-left-side-wrapper .form-item-number-of-battles,
#at-wt-calculator-form-left-side-wrapper .form-item-avg-time-of-battle,
#at-wt-calculator-form-left-side-wrapper .form-item-count-money-input,
#at-wt-calculator-form-left-side-wrapper .form-item-count-money-currency {
  display: inline-block;
  float: left;
  width: 60%;
}

#at-wt-calculator-form-left-side-wrapper .form-item-count-money-input,
#at-wt-calculator-form-left-side-wrapper .form-item-count-money-currency {
  width: 25%;
}

.count-money-input {
  margin-top: 27px;
}

#at-wt-calculator-form-left-side-wrapper .count-money-input {
  display: none;
}

#at-wt-calculator-form-left-side-wrapper .form-item-avg-time-of-battle {
  margin-bottom: 0;
}

#at-wt-calculator-form-left-side-wrapper .avg-time-of-battle b {
  display: block;
  margin-left: 3%;
  margin-bottom: 15px;
}

#at-wt-calculator-form-left-side-wrapper .form-item-count-money-currency {
  margin-left: 10%;
}

#at-wt-calculator-form-left-side-wrapper #submit-calculator {
  display: inline-block;
  padding: 10px;
}

#at-wt-calculator-form-left-side-wrapper #up,
#at-wt-calculator-form-left-side-wrapper #down {
  font-size: 121px;
  display: inline-block;
  float: left;
  padding-top: 6px;
  position: relative;
  top: -28px;
}

#at-wt-calculator-form-left-side-wrapper #up {
  top: -15px;
  margin-left: 13px;
}

.count-lost-money {
  clear: left;
  margin-left: 92px;
}

#at-wt-calculator-form-left-side-wrapper #submit-calculator {
  width: 64%;
  margin-left: 82px;
}

#at-wt-calculator-form-left-side-wrapper #edit-submit-calculator {
  width: 100%;
  font-size: 49px;
  color: #555;
}

#at-wt-calculator-form-left-side-wrapper #down {
  margin-right: 25px;

}

#up, #down, #up:hover, #down:hover {
  text-decoration: none;
}

#up:active, #down:active {
  position:relative;
  top:1px;
}

#at-wt-calculator-form-left-side-wrapper .form-control {
  display: block;
  width: 100%;
  height: 96px;
  padding: 6px 12px;
  font-size: 65px;
  line-height: 1.428571429;
  color: #555;
  vertical-align: middle;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  text-align: center;
}

#at-wt-calculator-form-left-side-wrapper .form-item-count-money-input .form-control,
#at-wt-calculator-form-left-side-wrapper .form-item-count-money-currency .form-control {
  font-size: 40px;
}

/* Right side */
#at-wt-calculator-form-right-side-wrapper {
  display: inline-block;
  float: right;
}
#at-wt-calculator-form-right-side-wrapper > div {
  border-left: 1px solid #bf0000;
  padding-left: 5%;
}
#at-wt-calculator-form-right-side-wrapper .wasted-time-header,
#at-wt-calculator-form-right-side-wrapper .wasted-time-value,
#at-wt-calculator-form-right-side-wrapper .lost-money-currency,
#at-wt-calculator-form-right-side-wrapper .lost-money-value,
#at-wt-calculator-form-right-side-wrapper .lost-money-header {
  display: inline-block;
}
#at-wt-calculator-form-right-side-wrapper .lost-money-value,
#at-wt-calculator-form-right-side-wrapper .wasted-time-value {
  font-size: 150%;
  margin-left: 5%;
}
#at-wt-calculator-form-right-side-wrapper .lost-money-currency {
  font-size: 150%;
}
#at-wt-calculator-form-right-side-wrapper .lost-money-value {
  margin: 0;
}
/* Default HTML style */
#at-wt-calculator-form-right-side-wrapper .default-calculator-logo {
  text-align: center;
}
#at-wt-calculator-form-right-side-wrapper .default-calculator-logo span.stroked {
  text-decoration: line-through;
  color: #909090;

}
#at-wt-calculator-form-right-side-wrapper .default-calculator-logo div.img-responsive {
  min-height: 350px;
  background: url("/sites/all/themes/at/images/stop_wasting_time.png") no-repeat center center;
}

.default-calculator-logo h1 {
  font-size: 60px;
  color: green;
}

#at-wt-calculator-form-right-side-wrapper .conclusion {
  margin-bottom: 40px;
  margin-top: 20px;
}

/* Share page */
.wasted-time-header, .wasted-time-value,
.lost-money-currency,.lost-money-value, .lost-money-header {
  display: inline-block;
}
.calculator-share-page .wasted-time-header,
.calculator-share-page .lost-money-header {
  margin-right: 1%;
}
.calculator-share-page .lost-money-currency,
.calculator-share-page .lost-money-value {
  margin-left: 0 !important;
}
.lost-money-value, .wasted-time-value {
  font-size: 150%;
}
.lost-money-currency {
  font-size: 150%;
}
.lost-money-value {
  margin: 0;
}