// Insert your styling here.
.button-link {
  padding: @padding-large-vertical*2 @padding-large-vertical*3;
}
.media {
  &:hover {
    background: @gray-lighter;
    cursor: pointer;
  }
  padding: @padding-base-vertical;
  .btn-link {
    padding: 0;
  }
}
.main-container section {
  padding: @padding-large-vertical*2 0;
  border: 1px solid #EEE;
  border-width: 0 0 1px 0;
}

footer {
  .container;
  .make-row();
  .clearfix();
}

#block-blockify-blockify-logo {
  .hidden-xs;
  .make-md-column(2);
  .make-lg-column(3);
}

#block-bean-menu-at {
  .make-xs-column(12);
  .make-md-column(2);
  .make-lg-column(2);
}

#block-bean-menu-customer-service {
  .make-xs-column(12);
  .make-md-column(2);
  .make-lg-column(2);
}
#block-bean-menu-legal-information {
  .make-xs-column(12);
  .make-md-column(2);
  .make-lg-column(2);
}
#block-bean-social-buttons {
  .make-xs-column(12);
  .make-md-column(12);
  .make-lg-column(3);
  .clearfix();
}
#block-bean-static-footer {
  .make-xs-column(12);
  .make-md-column(12);
  .make-lg-column(12);
}
