

/* General Typography */
@import url("//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,300,400,600,700");

@font-face {
  font-family: 'atfont';
  src: url('fonts/at-Regular.eot'); /* IE9 Compat Modes */
  src: url('fonts/at-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('fonts/at-Regular.woff') format('woff'), /* Pretty Modern Browsers */
  url('fonts/at-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
  url('fonts/at-Regular.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'atfontblack';
  src: url('fonts/at-Black.eot'); /* IE9 Compat Modes */
  src: url('fonts/at-Black.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('fonts/at-Black.woff') format('woff'), /* Pretty Modern Browsers */
  url('fonts/at-Black.ttf')  format('truetype'), /* Safari, Android, iOS */
  url('fonts/at-Black.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'oswald';
  src: url('fonts/oswald/Oswald-Regular.eot'); /* IE9 Compat Modes */
  src: url('fonts/oswald/Oswald-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('fonts/oswald/Oswald-Regular.woff') format('woff'), /* Pretty Modern Browsers */
  url('fonts/oswald/Oswald-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
  url('fonts/oswald/Oswald-Regular.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'oswaldblack';
  src: url('fonts/oswald/Oswald-Bold.eot'); /* IE9 Compat Modes */
  src: url('fonts/oswald/Oswald-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('fonts/oswald/Oswald-Bold.woff') format('woff'), /* Pretty Modern Browsers */
  url('fonts/oswald/Oswald-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
  url('fonts/oswald/Oswald-Bold.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'oswaldlight';
  src: url('fonts/oswald/Oswald-Light.eot'); /* IE9 Compat Modes */
  src: url('fonts/oswald/Oswald-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('fonts/oswald/Oswald-Light.woff') format('woff'), /* Pretty Modern Browsers */
  url('fonts/oswald/Oswald-Light.ttf')  format('truetype'), /* Safari, Android, iOS */
  url('fonts/oswald/Oswald-Light.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'fira';
  src: url('fonts/fira/FiraSans-Regular.eot'); /* IE9 Compat Modes */
  src: url('fonts/fira/FiraSans-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('fonts/fira/FiraSans-Regular.woff') format('woff'), /* Pretty Modern Browsers */
  url('fonts/fira/FiraSans-Bold.woff2') format('woff2'), /* Pretty Modern Browsers */
  url('fonts/fira/FiraSans-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
  url('fonts/fira/FiraSans-Regular.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'firablack';
  src: url('fonts/fira/FiraSans-Bold.eot'); /* IE9 Compat Modes */
  src: url('fonts/fira/FiraSans-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('fonts/fira/FiraSans-Bold.woff') format('woff'), /* Pretty Modern Browsers */
  url('fonts/fira/FiraSans-Bold.woff2') format('woff2'), /* Pretty Modern Browsers */
  url('fonts/fira/FiraSans-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
  url('fonts/fira/FiraSans-Bold.svg#svgFontName') format('svg'); /* Legacy iOS */
}

body {
  font-family: Helvetica, Arial, 'fira', 'Open Sans', sans-serif;
  background: url('../images/bg_top_main_red.png') repeat-x 0px 88px;
  font-size: 1.8em;
}

body.admin-menu {
  background-position: 0 97px;
}

h1, .h1,
h2, .h2, 
h3, .h3{
  font-family: 'oswald', 'Open Sans', Helvetica, Arial, sans-serif;
  color: #008000;
  margin-bottom: 20px;
  margin-top: 5px;
}
h1, .h1{
  color: #002e40;
  font-size: 20px;
}

h1.page-header,
#block-views-recepies-block-1 h2.block-title {
  text-transform: uppercase;
  color: #bf0000;
  padding-left: 0;
  border-bottom-color: #bf0000;
}

h2, .h2{
  font-size: 20px;
  font-weight: 400;
}
h3, .h3{
  font-size: 16px;
  font-weight: 600;
}
p{
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  h1, .h1{
    font-size: 35px;
  }
  h2, .h2{
    font-size: 23px;
  }
  h3, .h3{
    font-size: 16px;
  }
}
@media (min-width: 992px) {
  h1, .h1{
    font-size: 40px;
  }
  h2, .h2{
    font-size: 26px;
  }
  h3, .h3{
    font-size: 18px;
  }
}

.pagination>li:first-child>a {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.pagination>li:last-child>a, .pagination>li:last-child>span {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus {
  background-color: #BF0000;
  border-color: #BF0000;
}

.pagination a, .pagination a:active, .pagination a:visited {
  font-family: 'oswald', 'Open Sans', Helvetica, Arial, sans-serif;
}

a, a:active, a:visited {
  color: green;
}

a:hover {
  color: darkgreen;
}

.field-name-field-rating .fivestar-summary {
  font-family: oswald, helvetica, arial, sans-serif;
}

.btn {
  border-radius: 0;
  font-family: 'oswald', 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 16px;
}

.btn-primary {
  background-color: #008000;
}

.btn-primary:hover {
  background-color: #006400;
}

.view .more-link a {
  display: inline-block;
  font-family: oswald, helvetica, arial, sans-serif;
  padding: 10px;
  background-color: #e7e7e7;
}

.view .more-link a:hover {
  text-decoration: none;
}

/* END - General Typography */




/* General Structure */
.main-container .l-region > section,
footer.l-region--footer{
  padding: 30px 15px;
}
@media (min-width: 992px) {
  .main-container .l-region > section,
  footer.l-region--footer{
    padding: 50px 0;
  }
}

.page-node #block-system-main {
  padding-top: 10px;
}
/* END - General Structure */




/* Header */
.navbar {
  border: 0 #FFF;
  background: #FFF url('../images/bg_top_main_red.png') repeat-x 0px 68px;
  margin-top: 0;
}

.navbar ul.menu {
  margin-top: 70px;
}

.navbar ul.menu li > a, .navbar ul.menu li > a:visited, .navbar ul.menu li > a:active,
.region-footer .menu-block-wrapper a, .region-footer .menu-block-wrapper a:visited, .region-footer .menu-block-wrapper a:active {
  font-family: oswaldlight, Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  padding-top: 17px;
  padding-bottom: 14px;
  font-size: 17px;
  color: #FFF;
}

.navbar ul.menu li > a:hover, .navbar ul.menu li > a.active {
  color: #FFF;
  background-color: darkred;
}

.navbar ul.menu li > a.active:hover {
  color: #FFF;
  background-color: darkred;
}

header.l-region{
  background: #0088bb;
  border: none;
  border-radius: 0;
  border-bottom: 2px solid #006387;
  margin-bottom: 0;
}

.navbar .logo{
  padding: 0 15px;
}
.navbar .logo img{
  max-width: 100%;
}

#customer_service_phone_number{
  color: #ffffff;
  display: block;
  padding: 5px 0;
  /* override inline styles */
  margin-top: 0 !important;
}
#customer_service_phone_number label{
  font-weight: lighter;
  margin-bottom: 0;
}
#customer_service_phone_number span{
  font-weight: 700;
  letter-spacing: 1px;
  padding-left: 5px;
}

header.l-region ul.menu li a{
  background: none;
  color: #fff;
}
header.l-region ul.menu li a:hover,
header.l-region ul.menu li a:focus{
  background: none;
  color: #80c4dd;
}

header.l-region ul.menu li a[href*="basket"]{
  background: #1a94c2;
  border: 2px solid #66d6ff;
  font-size: 16px;
  font-weight: 600;
  padding: 6px 0;
}

header.l-region ul.menu li a[href*="basket"]:hover,
header.l-region ul.menu li a[href*="basket"]:focus{
  background: #66d6ff;
  color: #00668d;
}

@media (max-width: 767px) {
  .navbar .logo{
    margin: 8px 0;
    max-height: 34px;
  }
  .navbar .logo img{
    max-height: 34px;
  }

  header.l-region .navbar-toggle{
    background-color: #1a94c2;
    border-color: #66d6ff;
  }
  header.l-region .navbar-toggle .icon-bar{
    background: #fff;
  }

  header.l-region .navbar-toggle:hover,
  header.l-region .navbar-toggle:focus{
    background-color: #33a0c9;
  }

  #customer_service_phone_number{
    background-color: #007fad;
    border-top: 1px solid #0076a1;
    clear: both;
    padding: 5px 0;
    text-align: center;
    /* override inline styles */
    margin-top: 0 !important;
  }
  #customer_service_phone_number label{
    font-size: 120%;
    font-weight: lighter;
    margin-bottom: 0;
  }
  #customer_service_phone_number span{
    font-weight: 700;
    letter-spacing: 1px;
    padding-left: 5px;
  }
  
  header.l-region .navbar-collapse{
    background: #007099;
    border-top: 2px solid #006387;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  header.l-region ul.menu{
    padding: 15px 0;
  }

  header.l-region ul.menu li{
    padding: 3px 0;
  }

  header.l-region ul.menu li:last-child{
    padding-top: 12px;
  }

  header.l-region ul.menu li a{
    background: #006A91;
    font-weight: 700;
    padding: 7px 0;
    text-align: center;
    border-radius: 4px;
  }
  header.l-region ul.menu li a:hover,
  header.l-region ul.menu li a:focus{
    background: #006387;
  }
  header.l-region ul.menu li a[href*="basket"]{
    border-width: 1px;
    padding: 6px 0;
  }

}

@media (min-width: 768px) {
  header.l-region{
    border-bottom-width: 4px;
  }
  .navbar .logo{
    margin: 0;
    max-height: 183px;
  }
  .navbar .logo img{
    max-height: 183px;
  }
  .block--block-1 #customer_service_phone_number{
    font-size: 22px;
    line-height: 26px;
    padding: 20px 0 18px;
  }
  .block--block-1,
  header.l-region ul.menu {
    float: right;
    display: inline-block;
  }
  header.l-region ul.menu{
    clear: right;
    padding: 0 0 20px;
  }
  header.l-region ul.menu li{
    float: left;
    padding: 0 0 0 10px;
  }
  header.l-region ul.menu li a{
    background: none;
    font-size: 15px;
    font-weight: 600;
    padding: 8px 15px;
    text-align: center;
    border-radius: 4px;
  }
  header.l-region ul.menu li a:hover,
  header.l-region ul.menu li a:focus{
    background: none;
    color: #80c4dd;
  }
  header.l-region ul.menu li a[href*="basket"]{
    border-width: 1px;
    padding: 7px 25px;
  }
}
/* END - Header */




/* Footer */
footer.l-region--footer{
 background: #ebebeb;
 border-top: 2px solid #bfbfbf;
 color: #4c4c4c;
}
footer.l-region--footer a{
  color: #808080;
}
footer.l-region--footer a:hover,
footer.l-region--footer a:focus{
  color: #999;
}

footer.l-region--footer nav,
footer.l-region--footer .block--bean-social-buttons{
  padding-bottom: 30px;
  width: 100%;
}
footer.l-region--footer nav a{
  padding-left: 0;
  padding-right: 0;
}

footer.l-region--footer .block--bean-social-buttons:before,
footer.l-region--footer .block--bean-social-buttons:after {
  content: " ";
  display: table;
}
footer.l-region--footer .block--bean-social-buttons:after {
  clear: both;
}
footer.l-region--footer .block--bean-social-buttons a .icon{
  font-size: 40px;
}

footer.l-region--footer .block--bean-social-buttons a .icon.fa-google-plus-square{
  color: #dd4b39;
}
footer.l-region--footer .block--bean-social-buttons a .icon.fa-twitter-square{
  color: #00aced;
}
footer.l-region--footer .block--bean-social-buttons a .icon.fa-facebook-square{
  color: #3b5998;
}

footer.l-region--footer .block--bean-static-footer{
  float: left;
  width: 100%;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;  
}

footer.l-region--footer .block--bean-static-footer .row > div table td{
  font-weight: 700;
  padding: 5px 0;
}
@media (max-width: 767px) {
  footer.l-region--footer{
    text-align: center;
  }
  footer.l-region--footer a{
    text-align: center;
  }
  footer.l-region--footer .block--bean-static-footer{
    text-align: left;
  }
  footer.l-region--footer .block--bean-static-footer .row > div{
    border-top: 1px solid #ccc;
    padding: 20px 15px;
  }
  footer.l-region--footer .block--bean-static-footer .row > div > p{
    font-size: 12px;
  }
}
@media (min-width: 768px) {
  footer.l-region--footer nav,
  footer.l-region--footer .block--bean-social-buttons{
    float: left;
    width: 50%;
  }
  footer.l-region--footer .block--bean-social-buttons{
    text-align: left;
  }
  footer.l-region--footer .block--bean-static-footer{
    border-top: 1px solid #ccc;
  }
  footer.l-region--footer .block--bean-static-footer .row > div.col-md-12{
    border-top: 1px solid #ccc;
    padding-top: 20px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  footer.l-region--footer nav#block-bean-menu-legal-information{
    clear: both;
  }
}
@media (min-width: 992px) {
  footer.l-region--footer nav,
  footer.l-region--footer .block--bean-social-buttons{
    float: left;
    width: 25%;
  }
  footer.l-region--footer .block--bean-social-buttons{
    text-align: right;
  }
}

.breadcrumb {
  font-family: 'oswaldlight', 'Open Sans', Helvetica, Arial, sans-serif;
  border-radius: 0;
  font-size: 0.8em;
}

/* Demotivators node page CSS start */
body.node-type-demotivators .field-name-field-image {
  text-align: center;
}
body.node-type-demotivators .field-name-field-image .prev_next {
  position: absolute;
  padding: 100px 0 0 0;
  width: 100%;
}
body.node-type-demotivators .field-name-field-image .prev_next a {
  font-size: 300%;
  width: 30%;
  display: inline-block;
  margin-right: 3%;
  color: #bf0000;
}
#prev_demotiv_arrow {
  float: left;
  text-align: left;
}
#next_demotiv_arrow {
  float: right;
  text-align: right;
}

.view-tanks-demotivators td .views-field-field-image img {
  padding: 10px;
  border: 1px solid #DDD;
  margin: 0 110px 110px 0;
}

.prev-next-links a, .prev-next-links a:active, .prev-next-links a:visited {
  color: #bf0000;
}

.prev-next-links a:hover {
  color: red;
}

.node-demotivators.view-mode-full .field-type-image img {
  padding: 10px;
  border: 1px solid #DDD;
  margin-bottom: 40px;
}

.view-gallery.view-display-id-page .views-field-field-image img {
  padding: 10px;
  border: 1px solid #DDD;
}
.view-gallery.view-display-id-page .views-field-field-image {
  padding: 15px 33px;
  display: inline-block;
}

.view-gallery.view-display-id-page .row-first .views-field-field-image {
  padding-left: 0;
}

/* Recepies */

#block-views-recepies-block-1 h2.block-title {
  font-size: 40px;
  border-bottom: 1px solid #bf0000;
  padding-bottom: 9px;
  margin: 40px 0 20px;
}

.view-recepies.view-display-id-page .views-row,
.view-recepies.view-display-id-block_2 .views-row,
.view-id-recepies.view-display-id-block_1 .views-row {
  margin-bottom: 50px;
  padding-bottom: 30px;
  border-bottom: 1px solid #CCCCCC;
}

.view-recepies.view-display-id-page .views-row.views-row-last {
  border-bottom: 0px solid #bf0000;
}

.view-recepies .views-exposed-form .views-exposed-widget {
  width: 100%;
  margin-bottom: 10px;
}

.view-recepies .views-exposed-form .views-exposed-widget label {
  float: left;
  font-family: oswald, helvetica, arial, sans-serif;
  display: inline-block;
  float: left;
  padding: 3px 10px 0 0;
}

.view-recepies .views-exposed-form .views-exposed-widget select {
  display: inline-block;
  width: auto;
  border-radius: 0;
}

/* Demotivators node page CSS end */

/* Homepage CSS start */

body.front .page-header {
  display: none;
}

body.front .main-container .l-region > section {
  padding-top: 0;
}

body.front section.block h2.block-title {
  text-transform: uppercase;
  color: #bf0000;
  padding-left: 0;
  font-size: 40px;
  padding-bottom: 9px;
  margin: 40px 0 20px;
  border-bottom: 1px solid #bf0000;
}

#block-at-fta-tweets-block-at-fta-tweets-block .node-fta.view-mode-full {
  height: 500px;
  padding: 121px;
  background: url('../images/fta_circles.png') no-repeat 50% 50%;
}

/* Homepage CSS end */

/* Homepage carousel CSS start*/
.view-id-tanks_demotivators .owl-theme .owl-controls .owl-buttons div {
  padding: 5px 9px;
}
.view-id-tanks_demotivators .owl-theme .owl-controls .owl-buttons div {
  position: absolute;
}
.view-id-tanks_demotivators .owl-theme .owl-controls .owl-buttons .owl-prev {
  left: -45px;
  top: 70px;
}
.view-id-tanks_demotivators .owl-theme .owl-controls .owl-buttons .owl-next {
  right: -45px;
  top: 70px;
}

.view-id-tanks_demotivators .more-link {
  float: right;
}

/* Homepage carousel CSS end */

/* Recepies CSS */

.views-field-totalcount,
.field.field-name-field-logo.field-type-image.field-label-hidden,
.field.field-name-field-game.field-type-entityreference.field-label-inline.clearfix,
.statistics_counter.last,
.more-link {
  float: right;
}

.views-field.views-field-comment-count {
  float: right;
  margin-top: 10px;
}

.views-field.views-field-totalcount {
  margin-right: 10px;
  margin-top: 10px;
}

.views-field.views-field-title {
  font-family: oswald, helvetica, arial, tahoma, verdana, sans-serif;
  font-size: 35px;
  margin-bottom: 11px;
}

.view-recepies form.fivestar-widget {
  display: inline-block;
  width: 50%;
}

.view-recepies form.fivestar-widget div.fivestar-widget,
.view-recepies form.fivestar-widget div.fivestar-widget-static {
  display: inline-block;
  float: left;
  margin-top: 14px;
}

.view-recepies form.fivestar-widget p.help-block {
  display: none;
}

.view-recepies form.fivestar-widget .fivestar-summary {
  margin-top: 12px;
}

.view-recepies form.fivestar-widget .fivestar-summary-average-count {
  font-family: oswald, helvetica, arial, sans-serif;
  display: inline-block;
  font-size: 15px;
  margin-left: 6px;
}

.views-field-comment-count i, .views-field-totalcount i {
  font-family: oswald, helvetica, arial, sans-serif;
  font-size: 15px;
}

.views-field-comment-count i:before, .views-field-totalcount i:before {
  font-family: FontAwesome;
  font-size: 15px;
}

.node-recepies.view-mode-full .field-name-field-game {
  float: right;
  margin-bottom: 30px;
}

.node-recepies.view-mode-full .field-name-field-game .field-items .field-item {
  float: left;
}

.node-recepies.view-mode-full .field-name-field-game .field-items .field-item .field-name-field-logo,
.view-recepies.view-display-id-page .views-field.views-field-field-game .field-content > div {
  padding: 10px;
  height: 59px;
  width: 81px;
  border: 1px solid #CCC;
  margin-left: 12px;
}

.node-recepies.view-mode-full  .field-name-field-rating {
  float: left;
}

.node-recepies.view-mode-full .field-name-field-description {
  padding: 20px;
  margin: 30px 0;
  clear: both;
  font-size: 25px;
  background-color: #f5f5f5;
}

.field-name-field-game div.node-at-game[about='/game/world-tanks'] .field-name-field-logo,
.view-recepies.view-display-id-page .views-field.views-field-field-game .field-content > div.node-at-game[about='/game/world-tanks'] {
  padding-top: 15px !important;
}

.field-name-field-game div.node-at-game[about='/game/war-thunder'] .field-name-field-logo,
.view-recepies.view-display-id-page .views-field.views-field-field-game .field-content > div.node-at-game[about='/game/war-thunder'] {
  padding-top: 12px !important;
}

.field-name-field-game div.node-at-game[about='/game/armored-warfare'] .field-name-field-logo,
.view-recepies.view-display-id-page .views-field.views-field-field-game .field-content > div.node-at-game[about='/game/armored-warfare'] {
  padding-top: 16px !important;
}

.view-recepies.view-display-id-page .views-field.views-field-field-game {
  float: right;
  margin-top: -78px;
}

.view-recepies.view-display-id-page .views-field.views-field-field-game .field-content > div {
  float: left;
}

/* Recepies CSS end */

/* Advices CSS start */
ul#advice-categories li {
  list-style: none;
}

ul#advice-categories > li:before {
  content: '\2014\a0';
  float: left;
  margin-left: -1.25em;
}

ul#advice-categories li > a {
  text-decoration: underline;
}

ul#advice-categories li > a:hover {
  text-decoration: none;
}

body.page-advice div.node-fta.view-mode-full {
  padding-right: 5em;
}

a#another-advice {
  float: right;
  text-decoration: none;
  font-size: 18px;
  margin-top: 80px;
  font-family: Helvetica, Arial, 'fira', 'Open Sans', sans-serif;
}

a#another-advice:before {
  margin-left: -1.25em;
  color: #d3d3d3;
  float: left;
  font: normal normal normal 18px/1 FontAwesome;
}

div.node-fta.view-mode-full .field-name-body:before {
  content: '\2014\a0';
  float: left;
  margin-left: -0.8em;
}

div.node-fta.view-mode-full .field-name-body {
  font-size: 4.5em;
  font-family: Helvetica, Arial, 'firablack', 'Open Sans', Helvetica, Arial, sans-serif;
  font-weight: bold;
}

/* Advices CSS end */

/* Footer CSS start */
.block-menu-block {
  display: inline-block;
  float: left;
}

.block-menu-block .menu-block-wrapper.menu-name-main-menu ul > li {
  display: inline-block;
}

.footer {
  border-top: 1px solid #BF0000;
}

.region-footer .menu-block-wrapper a,
.region-footer .menu-block-wrapper a:active,
.region-footer .menu-block-wrapper a:visited {
  color: green;
}

.region-footer .menu-block-wrapper a:hover {
  color: darkgreen;
}

.social-icons-wrapper {
  float: right;
  display: block;
  width: 170px;
  height: 24px;
}

.social-icons-wrapper a {
  display: inline-block;
  float: left;
  margin-left: 10px;
  width: 24px;
  height: 24px;
  background: url('../images/icons_sprite.png') no-repeat;
}

.social-icons-wrapper a.twitter {
  background-position: -24px 0px;
}

.social-icons-wrapper a.google-plus {
  background-position: -48px 0px;
}

.social-icons-wrapper a.vk {
  background-position: -72px 0px;
}

.social-icons-wrapper a.youtube {
  background-position: -96px 0px;
}

#block-boxes-social-icons, #block-boxes-social-icons-top {
  float: right;
}

.region-footer .social-icons-wrapper {
  margin-top: 7px;
}

/* Footer CSS end */


/*-------------------------------------------*
/* comment
/*-------------------------------------------*/
/****************Comments form*******************/
/* Comment form */

/****************Comments form*******************/
article.comment header{ width:100%; overflow:hidden;}
.user-picture { float:left; margin-right:15px;}
section#comments h2.title {
  color:#fff;
  font-size:18px;
}

#comment-form label {
  color: #bf0000;
  font-family: oswaldlight, Helvetica, Arial, sans-serif;
}

#comment-form .form-text, .search-form .form-text, #user-login .form-text {
  width:220px;
  border-radius: 0;
  padding: 20px 10px;
}

#comment-form .resizable-textarea textarea {
  border-radius: 0;
}

#comment-form .form-textarea {
  height:120px;
}

.resizable-textarea .grippie {
  display:none;
}

.form-type-item {
  overflow:hidden;
  width:100%;
}
.form-type-item label {
  float:left;
  padding-right:10px;
}
.form-type-item a {
  color: green;
}

.form-type-select { margin:0;}

#edit-comment-body-und-0-format-guidelines {
  padding-top:15px;
}
#edit-comment-body-und-0-format-guidelines ul li{
  font-size:12px;
  overflow:hidden;
  width:100%;
}


/***Comments output***/

.comment-wrapper .submitted {
  font-size: 12px;
}

.comment-wrapper .submitted .permalink {
  display: none;
}

.comment-wrapper {overflow:hidden;}
article.comment .submitted {
  margin: 2px 0 10px;
}

article.comment h2 {
  color:#c3a495;
  font-size:18px;
  font-weight:normal;
  text-decoration:none;
}
article.comment h3 { line-height:normal; margin-bottom: 0;}
article.comment h3 a {
  color:#fff;
  font-size: 18px;
  font-weight: normal;
  text-decoration: none;
  text-transform: uppercase;
  color: green;
}
article.comment {
  background: #e7e7e7;
  border:0px solid #c3a495;
  margin-bottom:15px;
  padding:15px;
}

#comments .indented {
  margin-left: 20px;
}

#comments .field-name-comment-body {
  margin-bottom: 7px;
  margin-top: 3px;
}

.comment-wrapper .links a {
  font-family: oswaldlight, Helvetica, Arial, sans-serif;
  font-size: 15px;
}

.node article.comment footer {
  overflow:hidden;
  padding:0;
}

#edit-comment-body-und-0-format {
  border:1px solid #c3a495;
}
#edit-comment-body-und-0-format .fieldset-wrapper > * {padding-left:0; padding-right:0;}
#edit-comment-body-und-0-format .fieldset-wrapper {padding:0px 10px;}
#edit-comment-body-und-0-format .fieldset-wrapper label {display:inline;}

#comment-form-wrapper { margin-top:30px;}
article.comment span.new { position:absolute; top:0; right:0;}
.comment-preview { background:none;}
/********************************************/

/* AT Frontpage Videos block CSS */
.view-id-antitanks_videos.view-display-id-at_front_videos .views-field-field-video {
  margin-right: 20px;
}
/* AT Videos page CSS */
.view-id-antitanks_videos.view-display-id-page table tr > td {
  padding-bottom: 5%;
  padding-top: 5%;
  border-bottom: 1px solid #bf0000;
}

.view-id-antitanks_videos.view-display-id-page table tr.row-first > td {
  padding-top: 0;
}

.view-id-antitanks_videos.view-display-id-page table tr.row-last > td {
  border-bottom: 0;
}

.view-id-antitanks_videos.view-display-id-at_front_videos .views-field.views-field-title {
  height: 100px;
}