#at_fta_and_tweets_block .at-tweets-block {
  float: right;
  padding: 10px;
  width: 30%;
  display: inline-block;
}
#at_fta_and_tweets_block .at-fta-block {
  width: 70%;
  display: inline-block;
  padding: 10px;
}
#at_fta_and_tweets_block .at-fta-block .node-fta {
  width: 100%;
  font-size: 10px;
}
#at_fta_and_tweets_block .at-fta-block .node-fta .field-items a {
  font-size: 30px;
  float: right;
}