div.rollers-wrapper .node-demotivators.view-mode-at_dem {
  display: inline-block;
  padding: 1%;
}
div.rollers-wrapper div.active-image-roll {
  border: 1px solid #bf0000;
}
div.rollers-wrapper .node-demotivators.view-mode-at_dem .field-type-image img {
  margin-bottom: 0;
}
div.rollers-wrapper {
  margin-bottom: 40px;
}
